<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/index_css.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row box">
            <div class="col-sm-12 border" style="background-color: #dfe4ea;">
                <div class="row">
                    <div class="col-sm-2 box_2">
                        <img src="https://www.fshare.vn/images/christmas2020/logo-300x100.gif" class="rounded mt-2" width="230vh"
                            height="80vh">
                    </div>

                    <div class="col-sm-10 box_2">

                        <div class="row">

                            <div class="col-sm-1 box_2_1">
                                <!-- <h4 class="display-5"> Người Dùng <i class="far fa-bell"></i></h4> -->
                            </div>

                            <div class="col-sm-8 box_2_2">

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Tìm Kiếm" id="tim" name="tim">
                                    <div class="input-group-append">
                                        <button class="btn " type="button" style="background: #cd1417; color: white"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 box_2_3">

                                <div class="dropdown">
                                    <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" style="background-color: #cd1417; color:white">
                                        Tùy Chọn
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Tài Khoản</a>
                                        <a class="dropdown-item" href="#">Đăng Xuất</a>
                                        <a class="dropdown-item" href="#">Cài Đặt</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Load Facebook SDK for JavaScript -->
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="105971218084433">
      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>